.pro{
  text-decoration: underline;
}

.bodyImage{
  border-radius: 100%;
  width: 256px;
}

h1{
  font-family: Sacramento;
  display: inline;
  color: #66BFBF;
  line-height: 2;
}

h2{
  font-family: Montserrat;
  font-weight: normal;
  color: #66BFBF;
}


h3{
  font-family: Montserrat;
  color: #11999E;
}

p{
  font-family: Nanum Gothic;
}

hr{
  border-style: dotted none none;
  color: #11999E;
  height: 1px;
  width: 30px;
  border-width: 10px 30px;
}

.nameHeader{
  font-size: 4rem;
}


.headProgrammer
{
  font-size: 25px;
  position: relative;
  top: 20px;
}

.topContainter{
  background-color: #e6f6fe;
  padding-top: 100px;
}

.skill-row{
  width: 50%;
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
}

.blenderImg{
  float: right;
  margin-right: 30px;
}

.computerImg{
  float: left;
  margin-right: 30px;
}

.mainBody{
  margin: 0;
  text-align: center;
}

.topCloud{
  position: absolute;
  top: 50px;
  right: 300px;
}
.bottomCloud{
  position: absolute;
    bottom: 220px;
  left: 300px;
}
